<div class="flex flex-row items-center  mx-auto row-auto relative">
    <div class="left-image-banner absolute"></div>
    <div class="flex flex-row content-center justify-center  max-w-1320 mx-auto">
        <div class="flex flex-col content-center justify-center w-3/5">
        <h2 class="banner-heading-1">
            {{  section.settings.title }}
        </h2>
        <h4 class="banner-sub-heading">
            {{  section.settings.subheading }}
        </h4>
        <div class="w-auto wrapper-banner-shop max-w-40">
        <a href="{{ section.settings.button_link }}" class="btn-shop-now flex flex-row justify-between">
            {% render 'icon-shopping-bag' %}
            {{ section.settings.button_text }}
        </a>    
        </div>
    </div>
    <div class="w-2/5 flex flex-col content-center justify-center">
        <img class="img-banner-r" src="{{ section.settings.BannerRightImage |  image_url  }}" alt="{{ section.settings.BannerRightImage.alt }}">
    </div>
    </div>
    
</div>  

{% schema %}
{
    "name": "Home Banner",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default": "Banner Title",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "subheading",
            "default": "Banner Sub heading",
            "label": "Sub heading"
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Click Here"
        },
        {
            "type": "text",
            "id": "button_link",
            "label": "Button Link",
            "default": "Enter Your link here"
        },
        {
            "type" : "image_picker",
            "id": "BannerRightImage",
            "label": "Banner Right Image"
        }
    ],
    "presets": [
        {
            "name": "Home Banner"
        }
    ]
}
{% endschema %}
