{% paginate collection.products by 6 %}
    {% for product in collection.products %}
        {% if product.featured_image %}
            <img scr="{{ product.featured_image | img_url : 'medium' | prepend : 'https:'}}" width="medium" height="medium" alt="{{ product.featured_image.alt }}">
            
            {% else %}
            {{ 'image' | placeholder_svg_tag }}
        {% endif %}
        <a href="{{ product.url }}"> {{ product.title }}</a>
        {% else %}
            <p>There are no products in this collection</p>
    {% endfor %}

    {% render 'pagination' ,  pagination : paginate %}
{% endpaginate %}
