{% paginate blog.articles by section.settings.number_of_blog_posts %}
    {% for article in blog.articles %}
        <div>
            {% if article.image %}
                <img src="{{ article.image | img_url: 'master' }}" alt="{{ article.image.alt | escape }}" width="{{ article.image.width }}" height="{{ article.image.height }}">
            {% else %}
                {{ 'image' | placeholder_svg_tag: 'w-20' }}
            {% endif %}
            <h1>{{ article.title }}</h1>

            {% if article.excerpt.size > 0 %}
                <p>{{ article.excerpt }}</p>
            {% else %}
                <p>{{ article.content | strip_html | truncatewords: 30 }}</p>
            {% endif %}
        </div>
    {% endfor %}
{% endpaginate %}

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "range",
            "id": "number_of_blog_posts",
            "step": 1,
            "min": 1,
            "max": 6,
            "label": "Post Per Page",
            "default": 3
        }
    ]
}
{% endschema %}
