<h1>{{ article.title }}</h1>

<small>{{ article.author }}</small>

{% comment %} <time datetime="{{ article.published_at | date: "%Y-%m-%d" }}">{{ article.published_at | date: "%Y-%m-%d" }}</time> {% endcomment %}
<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%Y-%m-%d' }}</time>

<img src="{{ article.image  | img_url: 'large' }}" alt="{{ article.image.alt }}" width="1024" height="1024">

<div>
    {{ article.content }}
</div>

{% schema %}
{
    "name": "Article Template",
    "settings": [
            {
                "type": "checkbox",
                "id": "enable_author",
                "default" : true,
                "label": "Display Author Name"
            }, 
            {
                "type": "checkbox",
                "id": "enable_publihsed_date",
                "default" : true,
                "label": "Display Published Date"

            }
        ]
}
{% endschema %}